<h2> articles tagged with <%= @tag.name %></h2>

<ul>
	<% @tag.articles.each do |article| %>
	  <li><%= link_to article.title, article_path(article) %></li>
	<% end %>
</ul>

<%= link_to "delete tag", tag_path, method: :delete, data: {confirm: "Really Delete this tag?"}%>


